@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(24, 24, 24);
    color: rgb(240, 240, 240);
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/**--------Navbar---------*/
.navbar {
    text-decoration: none;
    display: flex;
    position: fixed;
    padding: 0;
    z-index: 4;
    width: 100%;
    margin: 10px 30px 0 10px;
}

.right-items {
    padding-right: 20px;
}

.left-items {
    flex: 1;
}

.left-items a,
.right-items a {
    margin: 5px;
    transition-duration: 0.3s;
}

.left-items,
.right-items {
    display: inline;
    margin: 10px;
}

.left-items a:hover {
    border-bottom: 1px solid rgb(231, 231, 231);
    font-size: 19px;
}

.bi:hover {
    color: rgb(165, 165, 165);
    width: 35px;
    height: 35px;
}
/*----End of Navbar------*/
/**----------Parallax------------*/


/**------Sections-------*/
section {
    height: 100vh;
}

.s1 {
    background: url(images/alex-gruber-tcG15vwIL2Q-unsplash.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.s2 {
    align-items: center;
}

h1 {
    font-size: 80px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25%;
    left: 25%;
    overflow: hidden;
    animation: animate-h1 2.5s 1s linear;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.26);
}

h2 {
    font-size: 80px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40%;
    left: 25%;
    overflow: hidden;
    animation: animate-h2 4s 1s linear;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.26);
}

@keyframes animate-h1 {
    0% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 15%;
        height: 5%;
    }
    35% {
        width: 35%;
        height: 10%;
    }
    45% {
        width: 55%;
        height: 20%;
    }
    50% {
        width: 80%;
        height: 30%;
    }
    75%{
        width: 90%;
        height: 45%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes animate-h2 {
    0% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 15%;
        height: 5%;
    }
    35% {
        width: 45%;
        height: 10%;
    }
    45% {
        width: 80%;
        height: 15%;
    }
    50% {
        width: 80%;
        height: 45%;
    }
    75%{
        width: 90%;
        height: 50%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

.about {
    padding-left: 15px;
    font-size: 19px;
    width: 500px;
    height: 400px;
    border: 2px solid rgb(255, 255, 255);
}

/**----Footer------*/
footer {
    background-color: rgb(128, 124, 124);
    text-align: center;
    width: 100%;
    height: 300px;
    padding-top: 15px;
}

.links {
    padding: 10px;
}

.icons {
    padding: 7px;
    top: 40%;
    transition-duration: 0.5s;
}

.icons:hover {
    color: black;
}