.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
}

::-webkit-scrollbar-thumb {
    background: rgb(56, 56, 56);
    border-radius: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(34, 34, 34);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(9, 5, 20);
    color: rgb(240, 240, 240);
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/**--------Navbar---------*/
.navbar {
    text-decoration: none;
    display: flex;
    position: fixed;
    padding: 1em 0em 0.5em 0em;
    z-index: 100;
    width: 100%;
    border: none;
    /* color: #7a7a7a4b; */
    transition-duration: 0.5s;
}

.right-items {
    /* padding-right: 20px; */
}

.left-items {
    flex: 1;
    display: inline;
    margin: 10px;
}

.left-items a,
.right-items a {
    margin: 5px;
    transition-duration: 0.3s;
}

.left-items a:hover {
    border-bottom: 1px solid rgb(231, 231, 231);
    font-size: 19px;
}

.bi:hover {
    color: rgb(165, 165, 165);
    width: 35px;
    height: 35px;
}
/*----End of Navbar------*/


/**------Sections-------*/
section {
    height: 100vh;
}

.s1 {
    background: rgb(109,72,121);
    background: radial-gradient(circle, rgba(109,72,121,1) 20%, rgba(59,98,144,1) 90%);
}

.s2 {
    height: 85vh;
}

.text {
    font-size: 80px;
    position: absolute;
    width: 60%;
    height: 100%;
    top: 25%;
    left: 25%;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.26);
}

@keyframes animate-h1 {
    0% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 15%;
        height: 5%;
    }
    35% {
        width: 35%;
        height: 10%;
    }
    45% {
        width: 55%;
        height: 20%;
    }
    50% {
        width: 80%;
        height: 30%;
    }
    75%{
        width: 90%;
        height: 45%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

@keyframes animate-h2 {
    0% {
        width: 0%;
        height: 0%;
    }
    25% {
        width: 15%;
        height: 5%;
    }
    35% {
        width: 45%;
        height: 10%;
    }
    45% {
        width: 80%;
        height: 15%;
    }
    50% {
        width: 80%;
        height: 45%;
    }
    75%{
        width: 90%;
        height: 50%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

.about {
    font-size: 19px;
    width: 500px;
    height: 400px;
    float: right;
    position: relative;
    right: 2%;
    top: 15%;
}

.about h3 {
    color: #751aff;
    letter-spacing: 0.2em;
    font-weight: lighter;
    padding-bottom: 2em;
}

.about p {
    color: #a19f9f;
}

#changeText {
    color: white;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.slide-container {
    height: 100px;
}

.slide-img {
    width: 50%;
    height: auto;
    border-radius: 1rem 1rem 1rem 1rem;
}

.prof {
    position: relative;
    width: auto;
    height: 90%;
}

.caption {
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.377);
    opacity: 1;
    width: 679px;
    height: 40px;
    border-radius: 0rem 0rem 1rem 1rem;
    top: 77%;
    font-size: 18px;
    transition: 0.5s ease;
}

.slides:hover .caption {
        opacity: 0;
}

.link {
    position: absolute;
    text-align: center;
    left: 43%;
    top: 65%;
    border-radius: 1rem;
    width: 6rem;
    height: 1.5rem;
}

.link:hover {
    background-color: rgba(240, 248, 255, 0.205);
}

.overlay {
    position: absolute;
    height: 83%;
    width: 12.5%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 1rem;
}

.slides:hover .overlay {
    opacity: 1;
}

.info {
    color: rgb(233, 232, 232);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.pro-h {
    color: #751aff;
    padding: 30px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.1em;
    font-size: 2em;
}

#link-p {
    color: aliceblue;
    transition-duration: 0.3s;
}

#link-p:hover {
    border-bottom: 1px solid white;
}

.logo {
    width: 25%;
    height: auto;
    transition: 0.5s;
}

.logo:hover {
    width: 30%;
    height: auto;
}


/**----Footer------*/
footer {
    width: 100%;
    height: auto;
    padding-top: 15px;
    font-size: 18px;
}

.foot-wraper {
    margin-left: 2.5rem;
}

.foot-wraper h4 {
    font-size: 2em;
}

.foot-wraper h5 {
    color: #a19f9f;
    font-size: 1em;
    font-weight: lighter;
    margin: 0 0 1em 0;
}

.C-head {
    font-size: 1em;
    font-weight: lighter;
    color: #751aff;
    letter-spacing: 0.1em;
}

.icons {
    padding-bottom: 0.5rem;
    top: 40%;
}

.links {
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.email-wraper {
    vertical-align: middle;
    height: 30px;
    overflow: hidden;
    transition-duration: 0.5s;
}

.email-wraper:hover {
    color: #751aff;
}

.email {
    vertical-align: middle;
    padding-right: 57.5em;
    margin: 0;
    float: right;
}

.github-wraper {
    vertical-align: middle;
    height: 30px;
    overflow: hidden;
    padding-top: 0.3em;
    transition-duration: 0.5s;
}

.github {
    vertical-align: middle;
    padding-right: 64.2em;
    margin: 0;
    float: right;
}

.github-wraper:hover {
    color: #282c34;
}

@media screen and (max-width: 767px) {
    .prof {
        height: 30%;
    }
    .text {
        font-size: 40px;
    }
    .about {
        text-align: center;
        font-size: 10px;
        float: none;
        padding: 0;
        position: static;
        width: 250px;
        height: auto;
        padding-left: 4rem;
    }
    .s2 {
        align-items: center;
    }
    .overlay {
        width: 12.5%;
        height: 25%;
    }
    .info {
        font-size: 10px;
    }
    .link {
        width: 3rem;
        font-size: 7px;
    }
    .caption {
        width: 11.7rem;
        height: 1.3rem;
        top: 53.5%;
        font-size: 10px;
    }
    .github {
        padding-right: 10em;
    }
    .email {
        padding-right: 3.3em;
    }
}

.source {
    text-align: center;
}

.source h2 {
    color:#751aff;
    font-weight: lighter;
    font-size: 2em;
}

.source p {
    color: #a19f9f;
    margin: 1em;
}

.source a {
    position: inherit;
    padding: 1em;
    background-color: transparent;
    border: 2px solid #eeebeb;
    color: aliceblue;
    font-size: 1em;
    background: linear-gradient(to left, transparent 50%, rgb(255, 255, 255) 50%) right;
    background-size: 200%;
    transition: 0.5s;
}

.source a:hover {
    background-position: left;
    color: #282c34;
}